/* .login-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    justify-content: center;
    margin: 10% 0 10% 0;
  }
  
  .grid__item {
    display: flex;
    justify-content: center;
  }
  
  .width-80 {
    width: 80%;
  }
  
  .desc_login {
    margin-bottom: 1rem;
  }
  
  .form-vertical {
    display: flex;
    flex-direction: column;
  }
  
  .form-vertical a {
    color: #007AFF;
    text-decoration: none;
    text-align: right;
    margin: 0 0 25px 0;
  }
  
  .input-full {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  .br-right {
    border-right: 1px solid #000;
  }
  .clearfix {
    clear: both;
  }
  
  .large_form {
    margin-bottom: 1rem;
  }
  
  .large_form a {
    color: #007AFF;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-label {
    font-weight: bold;
  } */
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  